<div class="container">
  <p>
    <h1><%=@user_id.name%>님과의 대화</h1><br>
    
      <%=form_tag '/sending' %>
        <input type="hidden" name="user_id" value="<%=current_user.id%>">
        <input type="hidden" name="receiver_id" value="<%=@user_id.id%>">
        <div class="col-lg-5 col-mg-5">
          <textarea name="content" class="form-control" rows="2"></textarea>
        </div>
        <input type="submit" class="btn btn-default" value="전송">
      </form>
      <br><br>
    
    <% @message_communications.reverse.each do |m| %>
      <div class="overflow">
        <p>
          <% if m.sender == current_user.id %>
          <span class="badge alert-info"><%=User.find(m.sender).name%></span>
          <% else %>
          <span class="badge"><%=User.find(m.sender).name%></span>
          <% end %>
          : <%=m.content%> <span class="date"><%=m.created_at.in_time_zone('Seoul').strftime('%Y-%m-%d %I:%M %p') %></span>
        </p>
      </div>
    <% end %>
  </p>
</div>
