<div class="container">
  <p>
    <h1><%= t :detailofsentmessage %></h1>
    <a href="/sendm"><%= t :gotosent %></a><br><br>
    <% if @sendm_detail_message.sender_destroy == false %>
    <h4>To. <%=User.find(@sendm_detail_message.receiver).name%></h4>
    <h5>: <%=@sendm_detail_message.content%></h5>
    <form action="/sendm_delete">
      <input type="hidden" name="sendm_delete" value="<%=@sendm_detail_message.id%>">
      <input type="submit" class="btn btn-default" value="Delete">
    </form>
    <% else %>
    <% end %>
  </p>
</div>
