<div align="center">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, autofocus: true %>
  </div><br>
  
  <div class=field>
    <input id="gender_male" name="user[gender]" type="radio" value="male" />
    <label for="gender_male">Male</label>
    <input id="gender_female" name="user[gender]" type="radio" value="female" />
    <label for="gender_female">Female</label>
  </div><br>
  
  <div class="field">
    <%= f.label :Language_learn, "Language to Learn" %><br>
    <select name="user[language_learn]">
      <option value="0">Select</option>
      <option value="Korean">Korean</option>
      <option value="English">English</option>
      <option value="Chinese">Chinese</option>
      <option value="Deutsch">Deutsch</option>
      <option value="Japanese">Japanese</option>
      <option value="French">French</option>
    </select>
  </div><Br>
    
  <div class="field">
    <%= f.label :Language_speak, "Language You Speak" %><br>
    <select name="user[language_speak]">
      <option value="0">Select</option>
      <option value="Korean">Korean</option>
      <option value="English">English</option>
      <option value="Chinese">Chinese</option>
      <option value="Deutsch">Deutsch</option>
      <option value="Japanese">Japanese</option>
      <option value="French">French</option>
    </select>
  </div><Br>
    
  <div class="filed">
    <%= f.label :brief, "Brief introduction to yourself" %><br>
    <%= f.text_field :brief, autofocus: true %>
  </div><br>
  
  <div class="form-group" align="right">
      <%= f.label :avatar, class: 'col-sm-2 control-label'  %>
      <div class="col-sm-6">
          <%= f.file_field :avatar %>
      </div>
  </div><br>
  
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>