<div class= "container1 col-xs-11">
            <h1><%= t :introduction %></h1>
            
            <%=form_tag '/update', method: 'post' do %>
                <input type="hidden" name="user_id" value="<%= @users.id %>">
                <div class="form-group">
                    <textarea name="naeyong" placeholder=<%= t :introduction %> class="form-control" rows="2"></textarea>
                </div>
               
                <div class="form-group">
                     <input type="submit" class="btn btn-success" value="<%= t :modify %>">
                </div>
               
                    <br>
                     
            <% end %>
</div>
