<div class = "wrapper video">
  <section id="home" class="pfblock-image screen-height">
    <div class="home-overlay"></div>
    <div class="intro">
      <div class="start"></div>
      <h1>SNU EXCHANGE</h1>
    </div>
    <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
      <source src="https://a0.muscache.com/airbnb/static/Seoul-P1-4.mp4" type="video/mp4">
    </video>
</div>
<div style="background: #ECF0F1;">
  <br><br><br><br>


  <!--body-->
  <section id="introducing">

    <h1 class="text-center"><%= t :goodpoints %></h1>
    <br><br><br><br><br>

    <div class="container">
      <div class="row">

        <div class="col-sm-3">
          <span class="text-center">
            <div class="iconbox-icon">
              <i class="fa fa-users fa-5x" style="color:#4183D7"></i>
            </div>
          </span>
          <br>
          <div class="iconbox-text">
            <h5 class="text-center"><%= t :point1 %></h5>
          </div>
        </div>

        <div class="col-sm-3">
          <span class="text-center">
            <div class="iconbox-icon">
              <i class="fa fa-commenting fa-5x" style="color:#4183D7"></i>
            </div>
          </span>
          <br>
          <div class="iconbox-text">
            <h5 class="text-center"><%= t :point2 %></h5>
          </div>
        </div>

        <div class="col-sm-3">
          <span class="text-center">
            <div class="iconbox-icon">
              <i class="fa fa-futbol-o fa-5x" style="color:#4183D7"></i>
            </div>
          </span>
          <br>
          <div class="iconbox-text">
            <h5 class="text-center"><%= t :point3 %></h5>
          </div>
        </div>

        <div class="col-sm-3">
          <span class="text-center">
            <div class="iconbox-icon">
              <i class="fa fa-globe fa-5x" style="color:#4183D7"></i>
            </div>
          </span>
          <br>
          <div class="iconbox-text">
            <h5 class="text-center"><%= t :point4 %></h5>
          </div>
        </div>

      </div><!— .row —>
    </div><!— .container —>
    <br><br><br>
  </section>

</div>

<br><br><br><br>

<section id="get started">
  <h1 class="text-center"><%= t :start %></h1>
  <br>
  <p class="lead text-center"><%= t :functioning %></p>
  <br><br>
  <div class="container">
    <div class="row stylish-panel one">
      <div class="col-sm-6">
        <div>
          <%= image_tag 'flaticons/User.png', :size => "200x200" %>
          <h2 class="text-center"><%= t :matching %></h2>
          <p><%= t :matching1 %>
        </p>
        <a href="/home/language.html" class="btn btn-primary" title="See more">Let's Exchange!</a>
        </div>
      </div>

      <div class="container">
        <div class="row stylish-panel two">
          <div class="col-sm-6">
            <div>
              <%= image_tag 'flaticons/Chat.png', :size => "200x200" %>

              <h2 class="text-center"><%= t :sharing %></h2>
              <p><%= t :sharing1 %></p>
              <div class="btn btn-primary" title="See more">Coming Soon!</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>


<br><br>
