<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h3>매칭 친구 찾기</h3>
    </div>
  </div>
</div>
<br>

<div class="container">
  <div class="btn-group">
    <form action="/language" class="form-inline">

      <select name="teach" class="form-control">
        <li><option value="">배우고 싶은 언어</option>
          <option value="Korean">한국어</option>
          <option value="English">영어</option>
          <option value="Chinese">중국어</option>
          <option value="Deutsch">독일어</option>
          <option value="Japanese">일본어</option>
          <option value="French">프랑스어</option>
      </select>

      <select name="learn" class="form-control">
        <option value="">가르치고 싶은 언어</option>
        <option value="Korean">한국어</option>
        <option value="English">영어</option>
        <option value="Chinese">중국어</option>
        <option value="Deutsch">독일어</option>
        <option value="Japanese">일본어</option>
        <option value="French">프랑스어</option>
      </select>

      <select name="sex" class="form-control">
        <option value="">성별</option>
        <option value="male">남자</option>
        <option value="female">여자</option>
        <option value="">상관 없음</option>
      </select>

      <input class="btn btn-default" type="submit" value="제출">
    </form>
  </div>
</div>


<br><br>
<div class="container">
  <div class="row">

    <div class="panel">
      <div class="panel-body">


        <!--/stories-->

        <% @filtered.each do |u| %>

          <div class="row profiles">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <li type="none" class="stroy-img"><%= image_tag(u.avatar.url(:thumb)) %></li>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3><%=u.name%></h3>
              <div class="row">
                <div class="col-xs-9">
                  <p><%=u.brief%></p>
                  <ul class="list-inline">
                    <li><a href="/home/userprofile/<%=u.id%>" class="btn btn-default">프로필 보기</a></li>

                    <li>
                      <%= form_tag '/messages_write', method: 'post' %>
                      <input type="hidden" name="id" value="<%=u.id%>">
                      <input type="submit" class="btn btn-default" value="메세지 보내기">
                      </form>
                    </li>
                  </ul>
                  <br>

                  <p id="count"> 평점 : <%= u.avg.round(1) %> (<%=u.usercomments.count%> 명) </p>
                  <span class="star-rating">
                    <% 1.upto(5) do |i| %>
                      <% if i == u.avg.round(0) %>
                        <i class="on"></i>
                      <% else %>
                        <i></i>
                      <% end %>
                    <% end %>
                  </span>

                  <ul class="list-inline">
                    <li><a href="#"><b>Knows:</b> <%=u.language_speak%> (Native) </a>
                    </li><li><a href="#"><b>Learning:</b> <%=u.language_learn%> (Basic) </a></li>
                  </ul>
                  <br><br>
                  <hr>
                </div>
         
              </div>
            </div>
          </div>
          
        <% end %>
        <!--/stories-->
      </div>
    </div>
  </div><!--/col-12-->
</div>
