<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h3>매칭 친구 찾기</h3>
    </div>
  </div>
</div>
<br>

<div class="container">
  <div class="btn-group">
    <form action="/language" class="form-inline">

      <select name="learn" class="form-control">
        <li><option value="">배우고 싶은 언어</option>
          <option value="Korean">한국어</option>
          <option value="English">영어</option>
          <option value="Chinese">중국어</option>
          <option value="Deutsch">독일어</option>
          <option value="Japanese">일본어</option>
          <option value="French">프랑스어</option>
      </select>

      <select name="teach" class="form-control">
        <option value="">가르치고 싶은 언어</option>
        <option value="Korean">한국어</option>
        <option value="English">영어</option>
        <option value="Chinese">중국어</option>
        <option value="Deutsch">독일어</option>
        <option value="Japanese">일본어</option>
        <option value="French">프랑스어</option>
      </select>

      <select name="sex" class="form-control">
        <option value="">성별</option>
        <option value="male">남자</option>
        <option value="female">여자</option>
        <option value="">상관 없음</option>
      </select>

      <input class="btn btn-default" type="submit" value="제출">
    </form>
  </div>
</div>

<hr>

<div class="container">
  <div class="row">

    <div class="panel">
      <div class="panel-body">


        <!--/stories-->

        <% @filtered.each do |u| %>

          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <li type="none" class="stroy-img">
                        <% if User.find(u.id).avatar_file_name != nil %>
                             <%= image_tag(u.avatar.url(:thumb)) %>
                        <% elsif u.gender == "female" %> 
                             <img src="/images/thumb/missing1.png" class="main_image">
                        <% else %>
                             <img src="/images/thumb/missing2.png" class="main_image">
                        <% end %></li>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3><%=u.name%></h3>
              <div class="row">
                <div class="col-xs-9">
                  <p><%=u.brief%></p>
                  <% if user_signed_in? %>
                    <a href="/home/userprofile/<%=u.id%>" class="btn btn-default">프로필 보기</a>
                    <% unless u.id == current_user.id %>
                      <a href="/messages_write/<%=u.id%>" class="btn btn-default">메세지 보내기</a>
                    <% end %>
                  <% else %>
                    <a href="/users/sign_in" class="btn btn-default">프로필 보기</a>
                    <a href="/users/sign_in" class="btn btn-default">메세지 보내기</a>
                  <% end %>
                  <br>

                  <p id="count"> 평점 : <%= u.avg.round(1) %> (<%=u.usercomments.count%> 명) </p>
                  <span class="star-rating">
                    <% 1.upto(5) do |i| %>
                      <% if i == u.avg.round(0) %>
                        <i class="on"></i>
                      <% else %>
                        <i></i>
                      <% end %>
                    <% end %>
                  </span>

                  <ul class="list-inline">
                    <li><a href="#"><b>Knows:</b> <%=u.language_speak%> (Native) </a>
                    </li><li><a href="#"><b>Learning:</b> <%=u.language_learn%> (Basic) </a></li>
                  </ul>
                </div>
                <br><br>
              </div>
            </div>
          </div>
          <hr>
        <% end %>
        <!--/stories-->
      </div>
    </div>
  </div><!--/col-12-->
</div>
