<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h3><%= t :matching %></h3>
    </div>
  </div>
</div>
<br>

<div class="container">
  <div class="btn-group">
    <form action="/language" class="form-inline">

      <select name="teach" class="form-control">
        <li><option value=""><%= t :learninglanguage %></option>
          <option value="Korean"><%= t :korean %></option>
          <option value="English"><%= t :english %></option>
          <option value="Chinese"><%= t :chinese %></option>
          <option value="Spanish"><%= t :spanish %></option>
          <option value="Deutsch"><%= t :deutsch %></option>
          <option value="French"><%= t :french %></option>
      </select>

      <select name="learn" class="form-control">
        <option value=""><%= t :teachinglanguage %></option>
        <option value="Korean"><%= t :korean %></option>
        <option value="English"><%= t :english %></option>
        <option value="Chinese"><%= t :chinese %></option>
        <option value="Spanish"><%= t :spanish %></option>
        <option value="Deutsch"><%= t :deutsch %></option>
        <option value="French"><%= t :french %></option>
      </select>

      <select name="sex" class="form-control">
        <option value=""><%= t :sex %></option>
        <option value="male"><%= t :male %></option>
        <option value="female"><%= t :female %></option>
        <option value=""><%= t :nomind %></option>
      </select>

      <input class="btn btn-default" type="submit" value=<%= t :submit %>>
    </form>
  </div>
</div>


<br><br>
<div class="container">
  <div class="row">

    <div class="panel">
      <div class="panel-body">


        <!--/stories-->

        <% @filtered.each do |u| %>

          <div class="row profiles">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <li type="none">
                <% if User.find(u.id).avatar_file_name != nil %>
                  <%= image_tag(u.avatar.url(:thumb)) %>
                <% elsif u.gender == "female" %> 
                  <img src="/images/thumb/missing1.png" class="main_image">
                <% else %>
                  <img src="/images/thumb/missing2.png" class="main_image">
                <% end %>
              </li>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3><%=u.name%></h3>
              <div class="row">
                <div class="col-xs-9">
                  <p><%=u.brief%></p>
                  <% if user_signed_in? %>
                    <a href="/home/userprofile/<%=u.id%>" class="btn btn-default"><%= t :viewprofile %></a>
                    <% unless u.id == current_user.id %>
                      <a href="/messages_write/<%=u.id%>" class="btn btn-default"><%= t :sendmessage %></a>
                    <% end %>
                  <% else %>
                    <a href="/users/sign_in" class="btn btn-default"><%= t :viewprofile %></a>
                    <a href="/users/sign_in" class="btn btn-default"><%= t :sendmessage %></a>
                  <% end %>
                  <br>

                  <p id="count"> Scores : <%= u.avg.round(1) %> (<%=u.usercomments.count%> Numbers) </p>
                  <span class="star-rating">
                    <% 1.upto(5) do |i| %>
                      <% if i == u.avg.round(0) %>
                        <i class="on"></i>
                      <% else %>
                        <i></i>
                      <% end %>
                    <% end %>
                  </span>

                  <ul class="list-inline">
                    <li><a href="#"><b>Knows:</b> <%=u.language_speak%> (Native) </a>
                    </li><li><a href="#"><b>Learning:</b> <%=u.language_learn%> (Basic) </a></li>
                  </ul>
                  <br><br>
                  <hr>
                </div>
         
              </div>
            </div>
          </div>
          
        <% end %>
        <!--/stories-->
      </div>
    </div>
  </div><!--/col-12-->
</div>
