<div class="container">
  <div class="row">
    <h1 align="center"><%=@users.name%>'s Profile</h1>
    <br>
    <div class="col-sm-6 col-sm-offset-3">
      <div class="row">
        <div class="col-sm-6">
          <div class="row profileimg" style="text-align:center">
            <% if User.find(@users.id).avatar_file_name != nil %>
              <%= image_tag(@users.avatar.url(:thumb), class: 'round-image-100', style: 'width: 200px') %> 
            <% elsif @users.gender == "female" %> 
              <img src="/images/thumb/missing1.png" class="main_image" style="width:200px">
            <% else %>
              <img src="/images/thumb/missing2.png" class="main_image" style="width:200px">
            <% end %>
          </div>
          <br>
          <div class="row profileimg" style="text-align:center"><input type="submit" class="btn btn-default" value="<%= t :sendmessage %>"></div>
        </div>

        <div class="col-sm-6">
          <div class="row">
            <% if @users.gender == "female" %>
              <i class="fa fa-venus fa-2x"></i>
            <% else %>
              <i class="fa fa-mars fa-2x"></i>
            <% end %>
          </div>
          <br>
          <div class="row"><span class="profileinfo"><%= t :teachinglanguage %></span>: <span class="profiletext"><%=@users.language_speak%></span></div>
          <br>
          <div class="row"><span class="profileinfo"><%= t :learninglanguage %></span>: <span class="profiletext"><%=@users.language_learn%></span></div>
          <br>
          <div class="row"><span class="profileinfo"><%= t :lectureask %></span>: 
            <span class="profiletext"><%=@users.plan %>
            <% if @users.id == current_user.id %>  
              <a class="bin ban-info btn-xs" href="/home/edit2/<%=@users.id%>" role="button"><%= t :modify %></a>
            <% else %>
              <i></i>
            <% end %>
            </span>
          </div>
        </div>
      </div>
      <br><br>



      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= t :intro %></h3>
          </div>
          <div class="panel-body">
            <%=@users.brief %> 
            <% if @users.id == current_user.id %>
              <a class="bin ban-info btn-xs" href="/home/edit/<%=@users.id%>" role="button"><%= t :modify %></a>
            <% else %>
              <i></i>
            <% end %>
          </div>
        </div>
      </div>
      <br><hr>

      <!-- 평가한 내용 show -->
      <% @cc.each do |c| %>
        <div class="col-sm-12">
          <div class= "col-sm-3">
            <% if User.find(c.commenter_id).avatar_file_name != nil %>
              <%= image_tag(User.find(c.commenter_id).avatar.url(:thumb), class: 'round-image-100', style: 'width: 100px') %> 
            <% elsif @users.gender == "female" %> 
              <img src="/images/thumb/missing1.png" class="main_image" style="width:100px">
            <% else %>
              <img src="/images/thumb/missing2.png" class="main_image" style="width:100px">
            <% end %>
          </div>
          <div class="col-sm-9">
            <div class="panel panel-warning">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <%=User.find(c.commenter_id).name %>
                </h3>
              </div>
              <span class="star-rating small">
                <% 1.upto(5) do |i| %>
                  <% if i == c.score %>
                    <i class="on"></i>
                  <% else %>
                    <i></i>
                  <% end %>
                <% end %>
              </span>
              <div class="panel-body"><%=c.content%></div>
            </div>
          </div>
        </div>
      <% end %>

      <div class="col-md-12">


        <%  unless @users.id == current_user.id %>

          <hr class="tagline-divider comment intro">
          <hr>
          <div class="container">
            <div class="col-md-12">
              <h3><%= t :commenting %></h3>

              <%=form_tag '/home/comment', method: 'get' do %>
                <input type="hidden" name="user_id" value="<%=@users.id%>">
                <textarea name="content" rows="10" cols="50"></textarea>
                <br>
                <!— 별점 —>
                <div class="col-md-12">
                  <span class="star-rating small">
                    <input type="radio" name="rating" value="1"><i></i>
                    <input type="radio" name="rating" value="2"><i></i>
                    <input type="radio" name="rating" value="3"><i></i>
                    <input type="radio" name="rating" value="4"><i></i>
                    <input type="radio" name="rating" value="5"><i></i>
                  </span>
                  <div><input type="submit" class="btn btn-default pull right" value=<%= t :feedback %>></div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>


      </div>
    </div>
  </div>
</div>
