
<div class="container">
  <div class="row">
<h1 align="center"> <%= @post.title %> </h1>
<hr>
<div class="qanda">
  <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Post</h3>
      </div>
      <div class="panel-body">
        <%= @post.text %>
      </div>
    </div>
    
    <div class="buttons pull-right">
    <%= link_to "edit", edit_post_path, class: "btn btn-primary"%>
    <%= link_to "destroy", post_path, method: :delete , class: "btn btn-danger"%>
    </div>




<% @comments.each do |comment| %>
   <% if comment.flag == true%>

  <p>
    <br>
  <div class="label label-primary"><%= comment.user.email%> </div>
  
  <%= comment.flag %>

  </p>
  <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Comment</h3>
      </div>
      <div class="panel-body">
        <%= comment.text %>
      </div>
    </div>
<<<<<<< HEAD
      <%= link_to "destroy", post_postcomment_path(@post, comment), method: :delete, class: "btn btn-danger pull-right" %>
=======
      <%= link_to "destroy", post_postcomment_path(@post, comment), method: :delete, class: "btn btn-danger" %>
>>>>>>> 7052aa54e72d292ac5ce677152a8ab881f61e210
  <% end %>
<% end %>

<%= form_for :new_comment, url: post_postcomments_path(@post) do |f| %>

<br>
<br>

  <%= f.label :text, "Contents", class: "control-label" %>
  <%= f.text_area :text, :autocomplete => :off, :placeholder => "Explain your question...", class: "col-md-12 form-control", rows: "15" %>
  <br>
  <%= f.submit "Ask!", class: " btn btn-primary pull-right" %>
<% end %>
  </div>
</div>
</div>

