<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>스누익스체인지</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <link href="css/styles.css" rel="stylesheet">
      <script src="http://pupunzi.com/mb.components/mb.YTPlayer/demo/inc/jquery.mb.YTPlayer.js"></script>
  </head>
  <body>

  <header class="navbar navbar-default navbar-fixed-top" role="banner">

    <div class="container">
      <div class="navbar-header">
        <a href="/" style="text-decoration:none">
          <h2>스누익스체인지</h2></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right">
          <% if user_signed_in? %>
            <div>
              <% if User.find(current_user.id).avatar_file_name != nil %>
                <%= image_tag(current_user.avatar.url(:thumb), class: 'profile_image p_down') %> &nbsp;
              <% elsif current_user.gender == "female" %> 
                <img src="/images/thumb/missing1.png" class="profile_image p_down">
              <% else %>
                <img src="/images/thumb/missing2.png" class="profile_image p_down">
              <% end %>
              <span class="user_informaion">
                <a><%=current_user.email%></a><br>
                <a href="/home/userprofile/<%=current_user.id%>">프로필 보기</a><br>
                <a href="/users/edit">회원정보수정</a><br>
                <a href="/users/sign_out" data-method="delete">로그아웃</a>
              </span>
            </div>
          <% else %>
            <div class="buttons">
              <div><a href="/users/sign_in">로그인</a></div>
              <div><a href="/users/sign_up">회원가입</a></div>
            </div>
          <% end %>
        </form>
      </div>
    </div>

    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <nav class="collapse navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <li>
            <a href="/">홈</a>
          </li>
          <li>
            <a href="/home/language">언어 교환</a>
          </li>
          <li>
            <a href="/posts">Q&A</a>
          </li>
          <li>
            <% if user_signed_in? %>
            <a href="/mymessages">메세지함 <span class="badge"><%=Message.where(receiver: current_user.id).where(flags: false).size%></span></a>
            <% else %>
              <a href="/users/sign_in">메세지함</a>
            <% end %>
          </li>
        </ul>
      </nav>
    </div>
  </header>
    <br><br><br><br>
    <%= yield %>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">

        </div>
        <div class="col-sm-6">
          <p class="pull-right">Copyright 2015 스누익스체인지</a></p>      
        </div>
      </div>
    </div>
  </footer>
  </body>
  <!-- script references -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</html>
<script>
  $(document).ready(function() {
    fixedFooter();
  });
  
  $('body').on('resize', function() {
    fixedFooter();
  });
  
  function fixedFooter() {
    if($(window).height() > $('html').height()) {
      $('footer').addClass('fixed');
    }
  }
</script>
